* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  margin: auto;
  font-family: 'Assistant', sans-serif;
  color: grey;
}

.banner {
  background-color: #451374;
  padding: 2em;
}

h1 {
  width: 100%;
  margin: 0 ;
  font-weight: 700;
  color: #FF951C;
  text-align: center;
}

.intro {
  text-align: center;
}

form {
  margin: 0 auto;
}

.info
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border: none;
}

fieldset {
  border: none;
  margin: 1.5em 0;
}

.check,
input[type='radio'],
input[type='checkbox'] {
  margin: 1em 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
select
 {
  margin-bottom: 1.5em;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
textarea:focus {
    background-color: #08E1C8;
    color: grey;
    transition: background-color 2s, color 2s;
}

.hr1 {
  width: 100%;
  margin-bottom: 2px;
  border-top: 5px solid black;
  padding: 0 0.5em;
}

hr {
  width: 100%;
  margin-top: 1px;
  border: 1px solid black;
  padding: 0 0.5em;
}

h3,
legend {
  color: black;
}

legend {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
}
h3 {
  margin-bottom: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 #e8eeef inset;
  color: #8a97a0;
  background-color: #e8eeef;
  border: none;
}

input[placeholder='Required'],
input[placeholder='123-456-789']
 {
  text-align: right;
}

#zipcode {
  width: 50%;
  display: block;
}

span {
  margin: 3em 0;
}

button {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #CEA8A0;
  font-size: 2em;
  text-align: center;
  color: #787B48;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
}

.main_footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0;

}

@media (min-width: 768px) {

      form{
        width: 60%;
      }

    .info, .couple{
      display: flex;
      flex-direction: row;
    }

    .info input,
    .info select{
      flex-grow: 1;
      flex-basis: 75%;

    }

    .info label {
      flex-basis: 25%;
    }

    #zipcode {
      max-width: 35%;
    }

}
